<link  rel="stylesheet" href="../assets/css/components/footer.css">

<footer class="main-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="assets/images/logos/acassist-logo.png" alt="Acassist Logo">
                <p>Your guide to university procedures</p>
            </div>
            
            <div class="footer-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="pages/about.html">About Us</a></li>
                    <li><a href="pages/contact.html">Contact</a></li>
                    <li><a href="pages/privacy.html">Privacy Policy</a></li>
                </ul>
            </div>
            
            <div class="footer-links">
                <h3>Universities</h3>
                <ul>
                    <li><a href="pages/universities/arellano.html">Arellano University</a></li>
                    <li><a href="pages/universities/pup.html">PUP</a></li>
                    <li><a href="pages/universities/ust.html">UST</a></li>
                    <li><a href="pages/universities/dlsu.html">DLSU</a></li>
                </ul>
            </div>
            
            <div class="footer-contact">
                <h3>Contact Us</h3>
                <p>Email: info@acassist.edu.ph</p>
                <p>Phone: +63 2 1234 5678</p>
                <div class="social-icons">
                    <a href="#"><img src="../assets/images/icons/facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="../assets/images/icons/twitter.png" alt="Twitter"></a>
                    <a href="#"><img src="../assets/images/icons/instagram.png" alt="Instagram"></a>
                </div>
            </div>
        </div>
        
        <div class="copyright">
            <p>&copy; 2025 Acassist. All rights reserved.</p>
        </div>
    </div>
</footer>